#Link{
    text-decoration: none;
    padding: 15px 15px 15px 15px;
    font-family: "Times New Roman";
    font-weight: bold;
    color: black;
    
}
#Link:hover{
    background-color: black;
    color: darkorange;
}

nav ul{
    position: sticky; 
    width: auto;
    margin-top: 0px;
    padding: 15px 15px;
    background-color: darkorange;
    
}

#Pie{
    
    margin-top: 70%;
    margin-bottom: 0%;
    position: static;
    width: 100%;
    color: white;
    background-color: black;
   }


#Contenido{
    background: "Black";
    position: absolute;
    color: white;
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 30%;
    text-align: justify;
}

#Menu{
    color: white;
    margin-top: 10%;
    margin-left: 75%;
    margin-right: 0%;
    text-align: justify;
    transform: translate(-5%, -0%);
    
}

body{
    background-image: url(dark-1561178232014-9264.jpg);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
    }

th{ text-align: center;
    }

button{
    
    }